h1 {
    text-align: center;
    margin: 40px;
}

img {
    height: 250px;
    display: block;
    margin: auto;
    width: 80%;
}

.descriptionDiv {
    display: table;
    width: 200px;
    height: 220px;
    margin: 30px;
    text-align: center;
}

.descriptionText {
    display: table-cell;
    vertical-align: middle;
}

.likeButton {
    margin: 10%;
}

.likesCounter {
    font-size: 1.5em;
}